<div class="col-sm-8 blog-main">
	<div class="blog-body">
		<h2><%= @blog.title %></h2>
		<p><%= @blog.body %></p>
		<p><%= link_to 'Edit', edit_blog_path(@blog) + ' | ' if logged_in?(:sideadmin) %></p>
		<p><%= link_to 'Back', blogs_path %></p>
	</div>
</div>

