
<div class="album text-muted">
	<div class="container">
	  <div class="row">
	    <%= render partial: 'portfolio_item', collection: @portfolio_items %>
	  </div>
	</div>
</div>



<%#= link_to 'create new portfolio item', new_portfolio_url if logged_in?(:siteadmin) %>

<!-- non structured parial use partial => collection -->



