<div class="blog-header">
	<div class="container">
	<h1 class="blog-title">Blogs</h1>
	<p class="lead blog-description">My thoughts on programming, art and music.</p>
	 <p class="lead blog-description"> <%= link_to 'Write a new blog.', new_blog_path if logged_in?(:siteadmin) %></p>

	</div>
</div>