<section class="jumbotron text-center">
	<div class="container">
	<h1 class="jumbotron-heading">Portfolio</h1>
	<p class="lead text-muted">In this portfolio I've listed some professional projects that I've worked on throughout the years. These applications were built using a wide range of tools and languages.</p>
	<p>
	  <%= link_to 'Find Out More About Me', contact_path, class: "btn btn-primary" %>
	  <%= link_to 'My Blog', blogs_path, class: "btn btn-secondary" %>

	</p>
	</div>
</section>