  <div>
    <h1 class="cover-heading">About me.</h1>
    <p>For the last three years I have been a Ruby on Rails programmer working with companies that ranged from a tiny three person startup to a midsized company of a hundred employees. As a passionate full stack developer I am just as happy getting my hands dirty on the backend as I am working with view files and CSS on the front end. I have always prided myself on being a code enthusiast and sponge soaking up every bit of technical knowledge I can. If i'm not reading a coderwall blog from a famous Ruby on Rails core committer, i'm trying out a new Ruby gem or Javascript framework.     </p>
    <p>
      <%= link_to 'Learn more', about_me_path, class: 'class="btn btn-lg btn-secondary' %>
    </p>
  </div>