  <div class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">Software development is my passion. When I take on a new project I always make it my goal to not only deliver a well crafted polished product but also ensure that I exceed project expectations.</p>
    <p class="lead">
      <%= link_to 'Learn more', about_me_path, class: 'class="btn btn-lg btn-secondary' %>
    </p>
  </div>

